<!-- your html code here -->
<div class="container-fluid bg-dark text-secondary py-2">
    <div class="row">
        <div class=" col-12 d-flex align-items-center">
        <span class="navbar-brand mb-0 h1">Start Bootstrap</span>
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link active text-secondary" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
            </li>
        </ul>
        </div>
  </div>
</div>