<!-- your html code here -->
<div class="row">
    <div class="col-12 d-flex gap-3">
        <img src="/website/assets/img/2.jpg" alt="" class="rounded-circle">
        <div>
            <h2>
                <span class="text-dark">Second Heading</span> <span class="text-secondary">Is Pretty Cool</span>
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, consectetur repudiandae? Beatae tempora
                culpa ad provident aliquid, quam inventore, eum, qui rem saepe voluptas ab reiciendis modi alias!
                Aliquid excepturi voluptatem repellendus unde tempora ullam magnam consequuntur atque nesciunt eos.
            </p>
        </div>

    </div>
</div>